header{
	border-bottom: #000 3px solid;
}
h1 {
	background-color: #5E768E;
	padding: 2px 40px;
}

h1 a{
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	font-family: lucida console;
	vertical-align: top;
}

body{
	background-color: #f9f9f9;
}

.inicio{
	font-family: lucida console;
	margin: 20px 15px;
	text-transform: none;
	color: #4e4e4e;
	font-size: 25px;
	left: 10px;
}

.conteiner{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.conteiner div{
	border: 2px solid #5e768e;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 75px;
}

.conteiner a{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	color: #585858;
	font-weight: bold;
	text-decoration: none;
}

.conteiner a:hover{
	text-decoration: underline;
	border-color: #00bb00;
}

.numero{
	font-size: 50px;
	color: #585858;
}

div:hover{
	text-decoration: underline;
	border-color: #00bb00;
	transform: scale(1.05);
}

div:active{
	border-color: yellow;
}
