header{
	border-bottom: #000 3px solid;
}
h1 {
	background-color: #5E768E;
	padding: 2px 40px;
}

h1 a{
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	font-family: lucida console;
	vertical-align: top;
}

body{
	background-color: #f9f9f9;
}

p{
	font-family: lucida console;
	top: 70px;
	text-transform: none;
	color: #4e4e4e;
	font-size: 25px;
}

.inicio{
	font-family: lucida console;
	margin: 20px 15px;
	text-transform: none;
	color: #4e4e4e;
	font-size: 25px;
	left: 10px;
}


select{
	border: none;
	border-bottom: 1px solid #bbb;
	background-color: #f9f9f9;
	color: #777;
}

.pesquisa{
	position: absolute;
	top: 120px;
	left: 200px;
}

.pesquisa input{
	width: 900px;
	background-color: #f9f9f9;
	border: none;
	outline: none;
	border-bottom: 1px solid #bbb;
	vertical-align: top;
}

select{
	position: absolute;
	top: 120px;
}

div button{
	border: none;
	padding: 10px 87.5px;
	font-size: 15px;
	color: #ffffff;
	background-color: #87AACC;
	text-transform: uppercase;
	font-family: lucida console;
	border-radius: 10px 10px 0 0;
	border-bottom: 5px solid #5E768E;
	cursor: pointer;
	display: inline;
	margin-top: 50px;
}

div button:hover{
	background-color: #5e768e;
}
